body {
    background-color: rgb(250, 250, 207);
    font-family: 'Cedarville Cursive';
}
#tabs{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 40%;
    margin-right: 40%;
}

#tabs > * {
    font-family: 'Cedarville Cursive';
    font-size: max(2vw, 20px);
    width: 100%;
    padding-left: 25%;
    padding-right: 25%;
    background-color: rgb(248, 248, 128);
    cursor: pointer;
}

#home-page{
    visibility: visible;
}

#home-intro {
    text-align: center;
    /* font-size: 2.5vw; */
    font-size: max(2.5vw, 25px);
    min-width: 100px;
    font-style: italic;
    font-family: 'Cedarville Cursive';
    margin-bottom: 2.5%;
    margin-top: 2.5%;
}

#pics{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
}

#pic1, #pic2, #pic3{
    flex: 1;
    margin-left: 1.5%;
    width: max(20%, 200px);
    max-height: 400px;

}

#pic1{
    transform: rotate(-7deg);
    margin-top: 2%;
}
#pic3{
    transform: rotate(7deg);
    margin-top: 2%;
}

#contact-page{
    display: grid;
    position: absolute;
    top: 15%;
    text-align: center;
    right: 0;
    left: 0;
    font-size: max(2.5vw, 20px);
    visibility: hidden;
    font-style: italic;
}
#menu-page{
    display: grid;
    position: absolute;
    top: 15%;
    text-align: center;
    right: 0;
    left: 0;
    font-size: max(2.5vw, 20px);
    visibility: hidden;
    font-style: italic;
}
#menu-img{
    margin-left: 30%;
    margin-right: 30%;
    width: max(40%, 200px);
    max-height: 700px;

}